<li class="event" data-id="<%= e.id %>">

  <button type="button" class="btn btn-danger btn-xs remove"><span class="glyphicon glyphicon-remove"></span> Remove</button>

  <!-- <div class="pull-left">
    <img alt="" src="https://s3-eu-west-1.amazonaws.com/membership-eb-images/<%= e.id %>/300x180.png" width="107" height="64" />
  </div> -->

  <div class="pull-left event-image">
    <!-- <img src="<%= e.logo_url %>" width="64" height="64" alt=""> -->
    <img src="http://s3-eu-west-1.amazonaws.com/membership-eb-images/<%= e.id %>/64.png" crossorigin="anonymous" alt="" />
    <div class="spinner">
      <span class="glyphicon glyphicon-refresh"></span>
    </div>
  </div>

  <div class="pull-left labels">
    <% if (e.status != "live") { %>
      <span class="label label-danger"><%= e.status %></span>
    <% } else { %>
      <span class="label label-primary"><%= e.status %></span>
    <% } %>
    <span class="label label-info"><%= e.id %></span>
    <a href="<%= e.url %>" target="_blank" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-link"></span> View on EventBrite</a>
  </div>

  <div class="pull-left">
    <button class="new-image btn btn-info btn-md"><span class="glyphicon glyphicon-cloud-upload"></span> Event Image</button>
  </div>

  <div class="pull-left media-body">
    <h4 class="media-heading">
      <%= e.name.html %>
    </h4>
    <p>
      <span class="label label-default date" data-date="<%= e.start.local %>">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
      <% if (e.venue && e.venue.name) { %>
      <span class="label label-default location">
        <span class="glyphicon glyphicon-map-marker"></span> <%= e.venue.name %>
      </span>
      <% } %>
    </p>
  </div>

  <div class="image-upload hidden">

    <form action="/" method="post"  enctype="multipart/form-data">

      <div class="form-group">
          <input class="upload-input" type="file" name="<%= e.id %>" value="">
        <p class="help-block">Choose a new event image.</p>
      </div>

      <button class="btn btn-primary" type="submit">
        Upload
        <div class="spinner">
          <span class="glyphicon glyphicon-refresh"></span>
        </div>
      </button>

    </form>

  </div>

</li>
